body {
    background-color: #EFEFEF;
}

.background {
    position: fixed;
    bottom: 0;
    right: 0
}

.content {
    min-width: 300px;
    width: auto;
    min-height: 400px;
    height: auto;
    position: absolute;
    margin-top: 25px;

/*    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    border: groove;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex
}